Ovalrange: #ff9900
Blue: #3399ff
*/

html, body {
margin: 0;
padding: 0;
}

body {
font-family: Segoe UI, Verdana, Helvetica, sans-serif;
font-size: 12px;
color: #3333ff;
background: #ffffff;
text-align: center;
}

.hidden {
display: none;
}

#page-container {
width: 760px;
margin: auto;
text-align: left;
border-left: 1px solid #3333ff;
border-right: 1px solid #3333ff;
border-bottom: 1px solid #3333ff;
}

/* Main Navigation */

#main-nav { height: 30px; background-color: #000099; border-bottom: 1px solid #3333ff;}

#main-nav ul { margin: 0px; padding: 0px;} 

#main-nav li { float: left; list-style-type: none;}

#main-nav li span {
color: #ffffff;
display: block;
padding: 8px;
padding-right: 5px;
margin: 0px;
}

#main-nav #links {
 text-align: center;
padding: 0px;
margin: 0px;
}

#main-nav li a {
   color: #ffffff;
 display: block;
padding: 8px;
text-decoration: none;
margin: 0px;
width: 25px;
text-align: center;
}

#main-nav li a:hover {
color: #ffffff;
display: block;
padding: 8px;
background-color: #3399ff;
text-decoration: none;
margin: 0px;
width: 25px;
text-align: center;
}

#header {
height: 50px;
background: #000099;
border-top: 1px solid #000099;
border-bottom: 1px solid #3399ff;
}

#logo h1 {
margin: 0;
padding: 0;
margin-top: 10px;
padding-left: 15px;
color: #3399ff;
}

h1 {
margin: 0;
padding: 0;
}
h2 {
margin: 0;
padding: 0;
}

h3 {
margin: 0;
padding: 0;
}

h4 {
margin: 0;
padding: 0;
color: #cc0000;
}

.sublogo {
margin: 0;
padding: 0;
float :right;
margin-top: 57px;
padding-right: 31px;
}

#sidebar-a {
float: right;
width: 225px;
background-color: #eee;
border-left: 1px solid #3333ff;
}

#sidebar-a a {
color: #3333ff;
}

#sidebar-a a:hover {
color: #3399ff;
}

#sidebar-a .padding {
padding: 25px;
}

#sidebar-a .east {
color: #3366cc;
font-weight: bold;
font-size: 14px;
}

#sidebar-a .west {
color: #cc0000;
font-weight: bold;
font-size: 14px;
}

#content {
margin-right: 225px;
}

#content .padding {
padding: 25px;
}

#content h2 {
margin: 0;
padding: 0;
padding-bottom: 15px;
}

#content p {
margin: 0;
padding: 0;
padding-bottom: 15px;
}

#content .key {
color: #3333ff;
}

#content .value {
color: #3399ff;
}

#footer {
clear: both;
height: 40px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
font-size: 11px;
color: #f1f1f1;
border-top: 1px solid #efefef;
padding: 13px;
line-height: 18px;
background-color: #000099;
border-top: 1px solid #3333ff;
}

#footer #altnav {
width: 350px;
float: right;
text-align: right;
padding-top: 13px;
}

#footer #copyleft {
padding-top: 0px;
}

#footer a {
color: #f1f1f1;
text-decoration: none;
}

#footer a:hover {
color: #3399ff;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Stress";
    padding-left: 10px;
    background-color: #F20000; color: #EEEEEE;
}
.onoffswitch-inner:after {
    content: "Stress";
    padding-right: 10px;
    background-color: #000099; color: #3399ff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

